/* font link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
margin:0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.main-content{
    width:90%;
    margin: 0 auto; 
}
/* =====First banner section start===== */
.banner-content {
    margin-top: 51px;
    background-color: black;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}
.banner-text-content {
    width: 50%;
    padding-top: 100px;
    padding-left: 106px;
}
.banner-text-content h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 68px;
    word-spacing: 4px;
}
.banner-text-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    word-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 24px;
}
.banner-text-content .btn {
    display: inline-block;
    background-color: indianred;
    border: none;
    padding: 17px 19px;
    width: 30%;
    color: whitesmoke;
    font-size: 17px;
    font-weight: 500;
    border-radius: 7px;
}
.banner-text-content .arrow {
    color: whitesmoke;
    font-size: 15px;
    padding-left: 10px;
    opacity: 0.8;
}
.banner-img-content {
    width: 50%;
    padding-top: 30px;
}
.banner-img-content img{
    display: inline-block;
    width: 70%;
}
/* =====First banner section end ===== */
/* =====second cards section start===== */
.cards-area {
    margin-top: 90px;
}
.card-wraper {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info-content-box {
    width:23%;
    height: 305px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
.cards-area .info-content-box .match-btn{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 20px 60px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
}
.cards-area .info-content-box .group-btn {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 20px 90px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
}
.cards-area .info-content-box .active {
    display: inline-block;
    text-decoration: none;
    background-color:  indianred;
    padding: 20px 105px;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
}
.cards-content {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
/* card secton style */
.card-main-body {
    border-radius: 5px;
    box-shadow: -1px 1px 4px -18px rgba(0,0,0,0.75);
}
.card-info {
    margin-left: 17px;
    margin-top: 10px;
}
.card-info button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #161616;
    padding: 8px 24px;
    color: black;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}
.card-info p {
    font-size: 15px;
    font-weight: 500;
    color: #161616;
}
.icon-area {
    display: flex;
    margin-left: 15px;
    align-items: center;
    padding-bottom: 23px;
}
.icon-area p {
    margin-left: 10px;
}
.icon-area  i{
    font-size: 16px;
    color: gray;
    display: inline-block;
    margin-left: 10px;
}
.cards-area
.btn-area  button {
    display: inline-block;
    background-color: indianred;
    padding: 10px 30px;
    border: 0;
    color: whitesmoke;
    font-weight: 500;
    display: none;
}
/* =====second cards section end===== */
/* footer section start */
.footer-area {
    margin-top: 110px;
    background-color: black;
    text-align: center;
}
.footer-text h3 {
    color: whitesmoke;
    font-weight: 700;
    padding-top: 95px;
    padding-bottom: 70px;
    font-size: 26px;
}
.line {
    margin: auto;
    width: 80%;
    height: 1px;
    color: #dfe4ea;
}
.footer-menu {
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.footer-menu ul li {
    margin-left: 20px;
}
.footer-menu ul li a {
    text-decoration: none;
    color:azure;
    font-weight: 400;
    font-size: 14spx;
}
.social-section {
    text-align: center;
    color:whitesmoke;
}
.social-section i {
    color: whitesmoke;
  font-size: 24px;
  padding-left: 14px;
  padding-bottom: 40px;
  display: inline-block;
}
/* footer section end */



/* ==========================================
    UPCOMINGMATCH PAGE CSS STYLE START
============================================= */
/* First banner section start */
.main-content .animate-btn {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}
.main-content .animate-btn::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    border-top: 3px solid #cc8e35;
    border-left: 3px solid #cc8e35;
    width: 40px;
    height: 40px;
    transition: all 0.4s;
}
.main-content .animate-btn::after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: -8px;
    border-bottom: 3px solid #cc8e35;
    border-right: 3px solid #cc8e35;
    width: 40px;
    height: 40px;
    transition: all 0.4s;
}

.main-content .animate-btn:hover:before,
.main-content .animate-btn:hover:after{
    width: 100%;
    height: 100%;
}
/* First banner section end */

/* second cards section start  */
.cards-area .up-btn {
    background-color: indianred!important;
}
.cards-area .blog-btn {
    background-color: whitesmoke!important;
    color: black!important;
}
.cards-content .match {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}
.cards-content .match h3 {
    margin-top: 8px;
}
.match-info h1 {
    text-align: center;
    color: #303952;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
}
.match-info p {
    text-align: center;
    color: #303952;
    font-weight: 500;
    padding-bottom: 30px;
}
/* second cards section end  */


